<?xml version="1.0"?>
<!--
/**
 * ACL. Can be queried for relations between roles and resources.
 *
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Koos\MageCourseTwo\Model\ConfigInterface" type="Koos\MageCourseTwo\Model\Config" />

    <type name="Koos\MageCourseOne\MagentoU\Test">
        <arguments>
            <argument name="justAParameter" xsi:type="string">blablabla</argument>
            <argument name="data" xsi:type="array">
                <item name="another-array-item" xsi:type="string">Another item in the array from another module</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="koos_magecoursetwo_increase_prices" type="Koos\MageCourseTwo\Plugin\Model\Catalog\ProductPlugin" sortOrder="1" disabled="false" />
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="koos_magecoursetwo_hardcoded_copyright" type="Koos\MageCourseTwo\Plugin\Block\Theme\Html\FooterPlugin" sortOrder="1" disabled="false" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="koos_magecoursetwo_change_crumbs" type="Koos\MageCourseTwo\Plugin\Block\Theme\Html\BreadcrumbsPlugin" sortOrder="1" disabled="false" />
    </type>
</config>